 <div class="col-sm-3 offset-sm-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Yet another perspective from a wannabe blogger exploring things that interests me whether it be tech related news or tech tutorials. Hope you enjoy your stay!</p>
          </div>
      
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled social-links">
              <li><a href="#"><%= fa_icon "github", class:'fab fa-github' %></a></li>
              <li><a href="#"><%= fa_icon "facebook", class: 'fab fa-facebook-f'%></a></li>
              <li><a href="#"><%= fa_icon "twitter", class: 'fab fa-twitter'%></li>
              
            </ol>
          </div>
        </div>

        