<h1>About Me</h1>


<hr>

<div class="row">
    <div class="col-md-4" >
            <%= image_tag "lul.jpg", width: 300, alt: "profile image" %>
    </div>

    <div class="col-md-8" >
        <div class="text-left">
        <p>I'm a pretty active guy. I enjoy running every other day, and go for longer distances on the weekends. I also enjoy great local food and adventures following my favorite teams give me eternal depression</p>
        </div>
    </div>
</div>
