<h1>Contact</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p>Hogwarts</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "4322386131" %></p>

    <h3>Email</h3>

    <p><a href="mailto:mfnazir@donotemailme.com" "email me">Email Me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3465.0396936052093!2d-95.3419440839835!3d29.718609440844215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640be5af6e41a83%3A0xf3299cd157156660!2sUniversity%20of%20Houston%20Welcome%20Center!5e0!3m2!1sen!2sus!4v1577508873785!5m2!1sen!2sus" width="450" height="450" frameborder="0" style="border:0;" allowfullscreen></iframe>
  </div>
</div>

